$font-family: 'Nunito', sans-serif;

$f-headline-primary: (
    default: (
        font-family: $font-family,
        font-size: 30px,
        font-weight: normal,
        line-height: 40px,
    ),
    $bp-tablet-portrait-min: (
        font-size: 40px,
        line-height: 50px,
    ),
    $bp-desktop-small-min: (
        font-size: 66px,
        line-height: 72px,
    )
);

$f-headline-secondary: (
    default: (
        font-family: $font-family,
        font-size: 30px,
        font-weight: normal,
        line-height: 40px,
    ),
    $bp-tablet-portrait-min: (
        font-size: 40px,
        line-height: 50px,
    ),
    $bp-desktop-small-min: (
        font-size: 50px,
        line-height: 1.5,
    )
);

$f-headline-tertiary: (
    default: (
        font-family: $font-family,
        font-size: 27px,
        font-weight: normal,
        line-height: 1.3,
    ),
    $bp-tablet-portrait-min: (
        font-size: 29px,
    ),
    $bp-desktop-small-min: (
        font-size: 31px,
    )
);

$f-text-primary: (
    default: (
        font-family: $font-family,
        font-size: 16px,
        line-height: 1.5,
        font-weight: normal,
    ),
    $bp-tablet-portrait-min: (
        font-size: 20px,
    ),
    $bp-desktop-small-min: (
        font-size: 22px,
    )
);

$f-text-secondary: (
    default: (
        font-family: $font-family,
        font-size: 12px,
        line-height: 18px,
        font-weight: normal,
    ),
    $bp-tablet-portrait-min: (
        font-size: 15px,
        line-height: 22px,
    ),
    $bp-desktop-small-min: (
        font-size: 17px,
        line-height: 25px,
    )
);

$f-text-tertiary: (
    default: (
        font-family: $font-family,
        font-size: 1rem,
        line-height: 1em,
        font-weight: normal,
    )
);

$f-button: (
    default: (
        font-family: $font-family,
        font-size: 1rem,
        font-weight: bold,
        letter-spacing: .075em,
        line-height: 1em,
        text-transform: uppercase,
    )
);

$f-input-label: (
    default: (
        font-family: $font-family,
        font-size: .75rem,
        font-weight: bold,
        letter-spacing: .075em,
        line-height: 1em,
        text-transform: uppercase,
    )
);

$f-logo: (
    default: (
        font-family: $font-family,
        font-weight: bold,
        text-decoration: none,
        text-transform: uppercase,
    )
)
