$font-family: 'Nunito', sans-serif;

$f-headline-primary: (
    default: (
        font-family: $font-family,
        font-size: 1.875rem,
        font-weight: normal,
        line-height: 2.5rem,
        margin-bottom: .25em,
        margin-top: .5em,
    ),
    $bp-tablet-portrait-min: (
        font-size: 2.5rem,
        line-height: 3.125rem,
    ),
    $bp-desktop-small-min: (
        font-size: 4.125rem,
        line-height: 4.5rem,
    )
);

$f-headline-secondary: (
    default: (
        font-family: $font-family,
        font-size: 30px,
        font-weight: normal,
        line-height: 40px,
        margin-bottom: .25em,
        margin-top: .5em,
    ),
    $bp-tablet-portrait-min: (
        font-size: 40px,
        line-height: 50px,
    ),
    $bp-desktop-small-min: (
        font-size: 50px,
        line-height: 1.5em,
    )
);

$f-headline-secondary-tertiary: (
    default: (
        font-family: $font-family,
        font-size: 27px,
        font-weight: normal,
        line-height: 1.3em,
        margin-bottom: .25em,
        margin-top: .5em,
    ),
    $bp-tablet-portrait-min: (
        font-size: 29px,
    ),
    $bp-desktop-small-min: (
        font-size: 31px,
    )
);

$f-text-primary: (
    default: (
        font-family: $font-family,
        font-size: 1rem,
        line-height: 1.5em,
        font-weight: normal,
    ),
    $bp-tablet-portrait-min: (
        font-size: 1.25rem,
    ),
    $bp-desktop-small-min: (
        font-size: 1.35rem,
    )
);

$f-text-primary--small: (
    default: (
        font-family: $font-family,
        font-size: 1rem * .75,
        line-height: 1.5em,
        font-weight: normal,
    ),
    $bp-tablet-portrait-min: (
        font-size: 1.25rem * .75,
    ),
    $bp-desktop-small-min: (
        font-size: 1.35rem * .75,
    )
);

$f-button: (
    default: (
        font-family: $font-family,
        font-size: 1rem,
        font-weight: bold,
        letter-spacing: .075em,
        line-height: 1em,
        text-transform: uppercase,
    )
);
