@import '~reset-css';

* {
    &,
    &:after,
    &:before {
        box-sizing: border-box;
    }
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

html {
    background-color: fuchsia;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: white;
}
