@import './styles/font-face';
@import './styles/common-dependencys';

html {
    background-color: fuchsia;
    scroll-behavior: smooth;

    @media (prefers-color-scheme: dark) {
        background-color: darken(fuchsia, 35%);
    }
}

body {
    background-color: white;
    color: black;
    fill: black;

    @media (prefers-color-scheme: dark) {
        background-color: darken(white, 90%);
        color: lighten(black, 90%);
        fill: lighten(black, 90%);
    }
}

.h1 {
    @include font($f-headline-primary);
}

.h2 {
    @include font($f-headline-secondary);
}
