@import './app/styles/common-dependencys';

$dark-mode-toggle-button-icon-color: $c-gray--light;
$dark-mode-toggle-button-icon-color--dark-theme: $c-primary;

$dark-mode-toggle-button-size: 55px;
$dark-mode-toggle-button-icon-size: 25px;

body {
    --icon-fill: #{$dark-mode-toggle-button-icon-color};
}

body.dark-theme {
    --icon-fill: #{$dark-mode-toggle-button-icon-color--dark-theme};
}

@media (prefers-color-scheme: dark) {
    body {
        --icon-fill: #{$dark-mode-toggle-button-icon-color--dark-theme};
    }

    body.light-theme {
        --icon-fill: #{$dark-mode-toggle-button-icon-color};
    }
}

.dark-mode-toggle {
    position: relative;

    &__button {
        align-items: center;
        appearance: none;
        background: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        height: $dark-mode-toggle-button-size;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: $dark-mode-toggle-button-size;
    }

    &__button-icon {
        fill: var(--icon-fill);
        height: $dark-mode-toggle-button-icon-size;
        width: $dark-mode-toggle-button-icon-size;

        svg {
            height: $dark-mode-toggle-button-icon-size;
            width: $dark-mode-toggle-button-icon-size;
        }
    }
}
