@import './app/styles/common-dependencys';

.section-navigation {
    align-items: center;
    bottom: 0;
    display: flex;
    left: auto;
    position: fixed;
    right: 0;
    text-align: right;
    top: 0;
    padding-right: 2vw;
    transition: all 350ms ease;
    pointer-events: none;

    &__list {
        pointer-events: auto;
        transition: all 650ms ease;
    }

    &__item {
        align-items: center;
        border-right: 4px solid $c-primary--25;
        display: flex;
        height: 4px;
        justify-content: flex-end;
        margin: 8px 0;
        max-width: 135px;
        overflow: hidden;
        padding: 0 10px 0 0;
        transition: opacity 200ms ease, padding-top 300ms ease, padding-bottom 300ms ease;
        width: 20px;

        &.active {
            border-right-color: $c-primary;
            overflow: visible;
        }
    }

    &__link {
        @include font($f-text-tertiary);

        opacity: 0;
        text-decoration: none;
        transition: opacity 300ms ease, color 125ms ease, font-size 350ms ease, margin 350ms ease;
        color: $c-primary--50;
        white-space: nowrap;

        &:hover {
            color: $c-primary;
        }

        .active & {
            color: $c-primary;
            font-size: 1.25rem;
            margin: 10px 0;
        }

        &.highlighted {
            color: $c-primary;
            opacity: 1;
        }
    }

    &:hover {
        background: linear-gradient(to left, rgba(black, .3), rgba(black, 0));

        .section-navigation__item {
            height: auto;
            overflow: visible;
            padding-bottom: 4px;
            padding-top: 4px;
            width: auto;
        }

        .section-navigation__link {
            opacity: 1;
        }
    }
}
