@import './app/styles/common-dependencys';

.page-section {
    $decorative-background-color: $c-gray--15;

    @include clearfix;

    width: 100%;

    &--decorative {
        background-color: $decorative-background-color;
    }

    &--small {
        padding: 1rem 0;
    }

    &--medium {
        padding: 2rem 0;
    }

    &--large {
        padding: 3rem 0;
    }
}
