@import './app/styles/common-dependencys';

.page-section {
    $decorative-background-color: $c-gray--15;
    $decroative-priamry-background-color: $c-primary--15;

    @include clearfix;

    width: 100%;

    &--decorative {
        background-color: $decorative-background-color;
    }

    &--decroative-primary {
        background-color: $decroative-priamry-background-color;
    }

    &--decorative-image {
        background-image: url('../../assets/img/fuchsia.jpg');
        background-size: cover;
        height: calc((100vh / 3) * 2);

        @include dark-mode() {
            @include pseudo() {
                background-color: $c-black--50;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transition: opacity 2550ms ease-in;
                transition-delay: 3000ms;
            }

            &:hover,
            &:active {
                &::after {
                    opacity: 0;
                    transition: opacity 250ms ease-out;
                    transition-delay: 100ms;
                }
            }
        }
    }

    &--small {
        padding: 2.5rem 0;
    }

    &--medium {
        padding: 4rem 0;
    }

    &--large {
        padding: 6rem 0;
    }
}

.page-section + .page-section--decorative {
    margin-top: 2rem;
}
